@font-face {
    font-family: "KronaOne";
    src: url(../fonts/KronaOne-Regular.ttf);
}
@font-face {
    font-family: "Archivo";
    src: url(../fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: "Monterstat";
    src: url(../fonts/Montserrat-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: "Monterstat";
}
a {
    text-decoration: none;
    color: #000;
}
.header {
    user-select: none;
}
.header_continaer_1_1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 110px;
}
.header_container_1_1 {
    display: flex;
    font-size: 64px;
    justify-content: space-between;
}
.section-1-container-1-item {
    display: flex;
    gap: 34px;
    justify-content: center;
    border-radius: 0px 0px 51px 51px;
    box-shadow: 0px 4px 4px 0px #FFF, 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding: 48px;
}
.section-1-container-1-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1206px;
}
.section-1-container-1-item-text h1 {
    font-size: 48px;
}
.section-1-container-1-item-text p {
    font-size: 32px;
}
.section-1-container-1 {
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}
.section-1 {
    margin-bottom: 81px;
}
.footer_container_1_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer_container_2 {
    display: flex;
    max-width: 400px;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-family: "KronaOne";
    font-size: 24px;
}
.footer img {
    cursor: pointer;
}
.footer_container_3 p {
    font-family: sans-serif;
    font-weight: 500;
}
.footer_container_1_1_logo {
    display: flex;
    gap: 10px;
    font-family: "KronaOne";
    align-items: center;
}
.footer_container_1_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer_container_2 {
    display: flex;
    max-width: 400px;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.footer img {
    cursor: pointer;
}
.footer {
    background-image: url(../img/Rectangle\ 35.png);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    margin-top: 50px;
}