@font-face {
    font-family: "KronaOne";
    src: url(../fonts/KronaOne-Regular.ttf);
}
@font-face {
    font-family: "Archivo";
    src: url(../fonts/ArchivoBlack-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: "KronaOne";
}
a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}
.header {
    background-image: url(../img/Ellipse\ 3.png);
    background-repeat: no-repeat;
    background-position: right top;
    user-select: none;
}
.header_continaer_1_1 {
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    padding-top: 30px;
    padding-bottom: 110px;
}
.header_container_1 {
    justify-content: space-around;
    display: flex;
    width: 100%;
    align-items: center;
}
.header_container_1_1 {
    display: flex;
    width: 400px;
    font-size: 40px;
    justify-content: space-between;
}
.section-1-container-1-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 81px;
}
.section-1-container-1 {
    text-align: center;
    width: 100%;
    font-size: 60px;
}
.section-1-container-1-1 img {
    max-width: 500px;
}
.section-1-container-1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer_container_1_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer_container_2, .footer_container_3, .footer_container_4 {
    display: flex;
    max-width: 400px;
    align-items: center;
    flex-wrap: wrap;
}
.footer img {
    cursor: pointer;
}
.footer_container_3 p {
    font-family: sans-serif;
    font-weight: 500;
}
.footer {
    background-color: #FFAD67;
    border-radius: 54px 54px 0px 0px;
    user-select: none;
    margin-top: 397px;
}