@font-face {
    font-family: "KronaOne";
    src: url(../fonts/KronaOne-Regular.ttf);
}
@font-face {
    font-family: "Monterstat";
    src: url(../fonts/Montserrat-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: "KronaOne";
}
a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}
.header_continaer_1_1 {
    display: flex;
    justify-content: space-around;
    max-width: 1524px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header_container_1 {
    justify-content: space-around;
    display: flex;
    width: 100%;
    align-items: center;
}
.header_container_1_1 {
    display: flex;
    width: 720px;
    font-size: 40px;
    justify-content: space-between;
}
.header_container_1_logo {
    display: flex;
    gap: 6px;
    align-items: center;
    user-select: none;
}
.section-1-container-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 43px;
    height: 100%;
}

.section-1-container-1 img {
    max-width: 80%;
}
.section-1-container-1 p {
    font-family: sans-serif;
    font-size: 32px;
}
.section-1-container-1 p b {
    color: #56AE9F;
    font-size: 70px;
}
.section-1-container-1-2 {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-1-container-1-2 h1 {
    text-align: center;
    color: #fff;
    font-size: 96px;
}
.footer_container_1_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer_container_2, .footer_container_3, .footer_container_4 {
    display: flex;
    max-width: 400px;
    align-items: center;
    flex-wrap: wrap;
}
.footer img {
    cursor: pointer;
}
.footer_container_3 p {
    font-family: sans-serif;
    font-weight: 500;
}
.footer {
    background-color: #FFAD67;
    border-radius: 54px 54px 0px 0px;
    user-select: none;
}
.section-1 {
    background-image: url(../img/Group\ 48095381.png);
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-1-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-1-container-2 button {
    display: flex;
    border: none;
    cursor: pointer;
    margin-top: 81px;
    padding: 27px;
    justify-content: center;
    font-size: 40px;
    background-color: #98D4FF;
    border-radius: 37px;
    font-family: "Monterstat";
    margin-bottom: 100px;
}